body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #314666;
    font-family: 'Poppins', sans-serif;
    color: #c9d1d9;
}

.calculator {
    background-color: #000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
}

.display {
    width: 94%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffffa9;
    border-radius: 10px;
    background-color: #ffffffa9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 22px;
    border: none;
    background: #ffffff;
    color: #110f0f;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn:active {
    transform: scale(0.95);
    box-shadow: none;
}

.btn:hover {
    background: #d7d8da;
}

button img {
    filter: invert(100%);
}
